<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>sesame-proxy</display-name>

    <servlet>
        <servlet-name>SparqlQueryServlet</servlet-name>
        <servlet-class>org.sindice.servlet.sparqlqueryservlet.SparqlQueryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SparqlQueryServlet</servlet-name>
        <url-pattern>/SparqlQueryServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.sindice.servlet.sparqlqueryservlet.SparqlQueryServletListener</listener-class>
    </listener>

</web-app>
