<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>sparqled</display-name>

    <!-- used for testing the application -->
    <context-param>
        <param-name>sparqled/home</param-name>
        <param-value>src/test/resources/sparqled</param-value>
    </context-param>

    <!-- Recommender Servlet -->
    <servlet>
        <servlet-name>AssistedSparqlEditorServlet</servlet-name>
        <servlet-class>org.sindice.sparqled.assist.AssistedSparqlEditorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AssistedSparqlEditorServlet</servlet-name>
        <url-pattern>/AssistedSparqlEditorServlet</url-pattern>
    </servlet-mapping>

    <!-- Query servlet -->
    <servlet>
        <servlet-name>SparqlQueryServlet</servlet-name>
        <servlet-class>org.sindice.sparqled.sparql.SparqlQueryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SparqlQueryServlet</servlet-name>
        <url-pattern>/SparqlQueryServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.sindice.sparqled.assist.AssistedSparqlEditorListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.sindice.sparqled.sparql.SparqlQueryServletListener</listener-class>
    </listener>

    <!-- JSON wrapping -->
    <filter>
        <filter-name>jsonpCallbackFilter</filter-name>
        <filter-class>org.sindice.sparqled.JsonpCallbackFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>jsonpCallbackFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>
