[submodule "hadoop-summary"]
	path = hadoop-summary
	url = https://github.com/sindice/summary
[submodule "sesame-queryparser-sparql"]
	path = sesame-queryparser-sparql
	url = https://campis@bitbucket.org/campis/sesame.git
