Package: lod2-sparqled
Version: 0.9
Section: misc
Priority: optional
Architecture: all
Depends: tomcat6 | tomcat7, openjdk-6-jre | sun-java6-jre
Maintainer: Stephane Campinas <stephane.campinas@deri.org>
Description: SparQLed, an Assisted SPARQL Editor for LOD2
Distribution: development
