<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>

    <!-- The following is defined in the recommendation-servlet package -->
    <recommender>
        <classAttributes>http://www.w3.org/1999/02/22-rdf-syntax-ns#type</classAttributes>

        <backend>NATIVE</backend>
        <backendArgs>./src/test/resources/rest/native/repo-summary</backendArgs>
    </recommender>

    <proxy>
        <backend>NATIVE</backend>
        <backendArgs>./src/test/resources/rest/native/repo</backendArgs>
    </proxy>

</configuration>
