<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>summary-rest</display-name>

    <servlet>
        <servlet-name>summaries</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.sindice.summary.rest</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>summaries</servlet-name>
        <url-pattern>/summaries</url-pattern>
    </servlet-mapping>

</web-app>
