<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>sparqled</display-name>

    <!-- Recommender Servlet -->
    <servlet>
        <servlet-name>AssistedSparqlEditorServlet</servlet-name>
        <servlet-class>org.sindice.analytics.servlet.AssistedSparqlEditorServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>AssistedSparqlEditorServlet</servlet-name>
        <url-pattern>/AssistedSparqlEditorServlet</url-pattern>
    </servlet-mapping>

    <!-- Query servlet -->
    <servlet>
        <servlet-name>SparqlQueryServlet</servlet-name>
        <servlet-class>org.sindice.servlet.sparqlqueryservlet.SparqlQueryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SparqlQueryServlet</servlet-name>
        <url-pattern>/SparqlQueryServlet</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.sindice.analytics.servlet.AssistedSparqlEditorListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.sindice.servlet.sparqlqueryservlet.SparqlQueryServletListener</listener-class>
    </listener>

    <!-- JSON wrapping -->
    <filter>
        <filter-name>jsonpCallbackFilter</filter-name>
        <filter-class>org.sindice.core.analytics.commons.webapps.JsonpCallbackFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>jsonpCallbackFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- REST API for the summary computation -->
    <servlet>
        <servlet-name>summaries</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>org.sindice.summary.rest</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>summaries</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.sindice.summary.rest.SummaryRestContextListener</listener-class>
    </listener>

</web-app>
