<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configuration>

    <recommender>
        <backend>HTTP</backend>
        <backendArgs>http://cu.irefindex.bio2rdf.org/sparql</backendArgs>
    </recommender>

    <proxy>
        <backend>HTTP</backend>
        <backendArgs>http://cu.irefindex.bio2rdf.org/sparql</backendArgs>
    </proxy>

</configuration>
